<div class="col-md-8 col-md-offset-2">
    <form ngNativeValidate (ngSubmit) = "onSubmit(f)" #f = "ngForm">
        <div class="form-group">
                <label for="content">Message</label>
                <input type="text" id="content" class="form-control" ngModel name="messageContent" required>
                 <!-- could use data binding -->
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
        <hr>
        <button class="btn btn-danger" (click) ="onLogout()">Logout</button>
    </form>
</div>

